*.suo
*.user
packages/
WebResourceBundling.Example/bin/
WebResourceBundling.Example/obj/
WebResourceBundling.Tests/obj/
WebResourceBundling.Tests/bin/
WebResourceBundling/bin/
WebResourceBundling/obj/